*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

:root {
    --white: #ffffff;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    color: var(--white);
}
/* Fecha y hora */
#fecHora{
    display: flex;
    flex-direction: column-reverse;
    font-size: 70px;
    margin-bottom: 60px;
}

#reloj{
    text-align: center;
    letter-spacing: 0.05em;
    padding: 5px 0;
}

/* Estructura cronometro */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}
.chrono, .manecillas {
    position: absolute;
}
/* Botones */

/* Reset Button */
.resetButton{
    transform: rotate(329deg);
    position: relative;
    width: 20px;
    background-color: var(--blue2);
    border: 0px;
    transition: height 0.2s ease;
}
.unpulsedReset{
    top: -225px;
    left: -139px;
    height: 20px;
}
.pulsedReset{
    top: -220px;
    left: -137px;
    height: 10px;
}
/* Start */
.startPauseButton{
    position: relative;
    background-color: var(--red);
    border: 0px;
    top: -263px;
    left: 10px;
    width: 20px;
    transition: height 0.2s ease;
}
.unpulsedStartPause{
    height: 30px;
}
.pulseStartPause{
    height: 20px;
    top: -259px;
}

/* contador */
.contador>p{
    letter-spacing: 0.05em;
    font-size: 40px;
}